.homepage {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.donors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-left: 15px;
  margin-right: 1px;
}
.added-donors {
  background-color: rgb(8, 8, 39);
  color: white;
}
